@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');
@import "tailwindcss";

body {
  font-family: 'Noto Sans JP', sans-serif;
}

.stats-bar{
  background-image: url('/kanawave.jpg');
  background-repeat: repeat;
  background-position: center;
  background-size: 800px; /* 👈 controls how big each tile is */
}

.gradient-text {
  background: linear-gradient(90deg, #006eff, #00d9ff, #0059ff, #0088ff);
  background-size: 300% 100%; /* makes the gradient much wider than text */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  animation: neon-gradient 3s linear infinite;
}

@keyframes neon-gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
